body{
    border: 5px solid black;
    text-align: center; 
    font-size: large; 
    font-weight: bold;
}
header{
    background-color:rgb(250,204,251) ;
    height:20vh;
    line-height: 20vh;
}
nav{
    background-color:rgba(154,20,236,255) ;
    height: 10vh;
    color:#ffffff;
    line-height: 10vh;

}
main{
    background-color: #ffffff;
    height: 50vh;
    line-height: 50vh;


}
footer{
    background-color:rgba(203,135,245,255) ;
    height: 20vh;
    line-height: 20vh;

}